@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slideIn1 {
    animation: 0.5s ease-in-out 0s 1 slideInFromLeft;
}

.slideIn2 {
    animation: 0.7s ease-in-out 0s 1 slideInFromLeft;
}

.slideIn3 {
    animation: 0.9s ease-in-out 0s 1 slideInFromLeft;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    margin-top: 2px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in-boy {
    animation: fadeIn 0.3s;
}